<hr>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
          {{item.name}}
        <hr>
        <div class="panel-body">
          {{item.status}}
        </div>
        <hr>
        <div>
         <p>account status is {{item.status}}</p>
          <button class="btn btn-default" (click)="setTo('active')">active</button>
          <button class="btn btn-default" (click)="setTo('inactive')">inactive</button>
          <button class="btn btn-default" (click)="setTo('unKnown')">unknown</button>
        </div>
      </div>
    </div>
  </div>
</div>

